    <div class="col-md-6">
        <p id="notice"><%= notice %></p>

      <div class="well">
        <p>
          <%= image_tag @pin.image %>
        </p>
        <p >
          <%= @pin.description %>
        </p>
        <p style="color: crimson">
          <%= @pin.user.name %>
        </p>
      </div>
      <% if current_user == @pin.user %>
      <%= link_to 'Edit', edit_pin_path(@pin),class: "btn btn-info" %> |
      <% end %>
      <%= link_to 'Back', pins_path,class: "btn btn-info" %>

    </div>
